.main-div {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  width: 300px;
  margin: auto;
  background-color: transparent;
}

h1 {
  text-align: center;
  position: absolute;
  top: 115px;
  left: 650px;
  z-index: -1;
  transition-duration: 2s;
}
.main-div:hover ~ h1 {
  transition-duration: 2s;
  transform: rotate(360deg);
}
.main-div:hover > .red-div {
  transform: rotate(90deg);
  transform-origin: left top;
  transition-duration: 2s;
}
.main-div:hover > .yellow-div {
  transform: rotate(-90deg);
  transform-origin: right top;
  transition-duration: 2s;
}
.main-div:hover > .blue-div {
  transform: rotate(-90deg);
  transform-origin: left bottom;
  transition-duration: 2s;
}
.main-div:hover > .green-div {
  transform: rotate(90deg);
  transform-origin: right bottom;
  transition-duration: 2s;
}

.red-div {
  height: 150px;
  width: 150px;
  background-color: red;
  transform-origin: left top;
  transition-duration: 2s;
}
.yellow-div {
  height: 150px;
  width: 150px;
  background-color: yellow;
  transform-origin: right top;
  transition-duration: 2s;
}
.blue-div {
  height: 150px;
  width: 150px;
  background-color: blue;
  transform-origin: left bottom;
  transition-duration: 2s;
}
.green-div {
  height: 150px;
  width: 150px;
  background-color: green;
  transform-origin: right bottom;
  transition-duration: 2s;
}
