* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 30px;
  text-align: center;
  filter: grayscale(100%);
  /* background: url('ramtek_banner-4.jpg') rgb(255, 5, 5); */
  color: black;
}
.subtext {
  display: inline-flex;
  background-color: black;
  color: white;
  padding: 0px 20px;
}
/* Increase the font size of the heading */
.header .main_heading {
  font-size: 40px;
}

.flex-container {
  display: flex;
  align-items: stretch;
}

.flex-container > div {
  margin: 50px;
  text-align: justify;
}

.firstl::first-letter {
  font-size: 300%;
  color: #000000;
}
.responsive {
  width: 100%;
  max-width: 700px;
  height: auto;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
h3 {
  text-align: center;
}
.container {
  border-radius: 5px;
  padding: 20px 400px;
}
fieldset {
  background-color: #f2f2f2;
}
